# Este es un archivo de configuración básico para Yazi
# Puedes personalizarlo según tus necesidades

[manager]
show_hidden = false

[preview]
max_width = 600
max_height = 900

[opener]
text = ["nvim"]
